<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <%- include('../navbar'); -%>
      <div class="content">

	<div class="header-container">
	    <h1>Creating new course </h1>
	    <a href="../"><button type="submit" class="secondary-btn header-btn">Back</button></a>
	</div>

    <div class="center">
      <form class="course-form" action="/courses/add/" method="POST" >
        <div class="form-input-container">

          <div>
        <label for="course_number">
          Course Number
        </label>
        <input class="form-input" type="text" name="course_number" placeholder="Course number">
          </div>

          <div>
        <label for="course_name">
          Course Name
        </label>
        <input class="form-input" type="text" name="course_name" placeholder="Course name">
          </div>

        </div>

        <button class="submit-btn" type="submit">Add Course</button>
      </form>  
    </div>
      </div>
</body>
</html>
