<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Courses</h1> 
    <% courses.map((course, idx) => { %>  
        <p><%= course.course_name %></p>
        <p><%= course.course_number %></p>
        <a href="<%= course.offeringsURL %>">See more</a>
    <% }) %>  

        <a href="<%= addURL %>"><button type="submit">Add</button></a>
</body>
</html>