<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Offerings for: <%= `${course.course_number}: ${course.course_name}` %></h1>
    <form method="POST">
      <label for="number">Course Number: </label>
      <input required name="number" type="text" id="number" />

      <label for="start">Start Time: </label>
      <input required name="start" step="60" type="time" id="start" />

      <label for="end">End Time: </label>
      <input required name="end" step="60" type="time" id="end" />

      <label for="year">Year: </label>
      <input required name="year" type="text" id="year" />

      <label for="sem">Semester: </label>
      <input required name="sem" type="text" id="sem" />

      <label for="cap">Capacity: </label>
      <input required name="cap" type="text" id="cap" />

      <label for="enrolled">Students Enrolled: </label>
      <input required name="num_enrolled" type="text" id="enrolled" />

      <button type="submit">Create Course Offering</button>
    </form>
  </body>
</html>
